.router-link-active {
  color: lightgreen !important;
}


// ul.dropdown-cart li .item:after{
//   visibility: hidden;
//   display: block;
//   font-size: 0;
//   content: " ";
//   clear: both;
//   height: 0;
// }

// ul.nav li.dropdown:hover > ul.dropdown-menu {
//   display: block;
// }

// @media (min-width: 979px) {
//   ul.nav li.dropdown:hover > ul.dropdown-menu {
//     display: block;
//   }
// }


.navbar {
  margin-bottom:0;
  background: #2C3E50;
  font-weight: 700;
  border: none;
  border-radius: 0;
  height: 100px;
  padding-top:25px;
  position: fixed;
  width:100%;
  top: 0;
  z-index: 1000;
}

.navbar-default .navbar-nav > li > a {
  color: #000;
  font-size:14px;
  text-transform: uppercase;
  font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.navbar-default .navbar-brand{
  color: #fff;
  font-size: 28px;
}

.dropdown > *:hover {
  background: #fff;
}

.profile-img {
  height: 80px;
  display: inline-block
}
.isMenuShown{
  display:none;
}
.nav-bar-mobile{
  display: none;
}
.icon-desktop{
  display:block;
}


@media (max-width: 375px) {
  .navbar{
    width:100%;
  }

  .nav-bar-mobile{
    display:block;
  }

 .icon-desktop{
  display:none;
}
}

// <kjsdhfbkj>

@import '../../scss/_vars';

.main-nav {
  --main-nav-height: em(70px);  
  height: var(--main-nav-height);
}

.main-nav__mobile-icon,
#main-nav__mobile-checkbox {
  display: none;
}

// .main-nav__item {
//   text-transform: uppercase;
//   font-size: rem-calc(14px);
//   margin-left: 4em;
// }

// .main-nav__inner {
//   width: 100%;
// }

// @media (max-width: $mobile-breakpoint) {
//   .main-nav {
//     display: block;
//   }
//   .main-nav__items {
//     flex-direction: column;
//   }
//   .main-nav__item {
//     margin-left: 0;
//     margin-bottom: 1em;
//   }
//   .main-nav__mobile-icon {
//     display: block;
//     padding-top: 0.4em;
//     font-size: 2rem;
//     cursor: pointer;
//   }
//   .main-nav__logo {
//     margin-bottom: 1em;
//   }
//   .main-nav__inner {
//     display: block;
//     position: fixed;
//     z-index: 9999;
//     background:#fff;
//     height: 100%;
//     width: 100%;
//     padding-top: 1em;
//     transition: all 0.4s;
//     transform: scaleX(0);
//     opacity: 0;
//     transform-origin: left;
//   }
// }

// #main-nav__mobile-checkbox:checked ~ .main-nav__inner {
//   transform: scaleX(1);
//   opacity: 1;
// }