

@import '../../scss/_vars';

.router-link-active {
  color: red !important;
}

#main-nav__mobile-checkbox:checked ~ .main-nav__inner {
  transform: scaleX(1);
  opacity: 1;
  // font-size: 20px;
  
}



.navbar-default .navbar-nav > li > a {
  color: #000;
  font-size:12px;
  text-transform: uppercase;
  font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.navbar-default .navbar-brand{
  color: #fff;
  font-family: 'Shadows Into Light', cursive;
  font-size: 50px;
}

.dropdown > *:hover {
  background: #fff;
}

.profile-img {
  height: 80px;
  width: 80px;
  display: inline-block;
  position: relative;
  top: -17px;
}

.main-nav {
  --main-nav-height: em(70px);  
  height: var(--main-nav-height);
  margin-bottom:0;
  background: black;
  font-weight: 700;
  border: none;
  border-radius: 0;
  height: 100px;
  padding-top:35px;
  position: fixed;
  width:100%;
  top: 0;
  z-index: 1000;
  color: #18AC0F;
  
    
}

.main-nav__mobile-icon,
#main-nav__mobile-checkbox {
  display: none;
}

.main-nav__item {
  text-transform: uppercase;
  font-size: rem-calc(14px);
  text-align: center;
  margin-left: 4em;
  :hover {
       color: white !important;
    }
  }

.main-nav__inner {
  width: 100%;
  justify-content: flex-end;
  margin-right: 70px;
}

.nav-container{
  justify-content: flex-end;
  width: 100%;
}
@media (min-width: 979px) {
  ul.nav li.dropdown:hover > ul.dropdown-menu {
    display: block;
  }
}


@media (max-width: $mobile-breakpoint) {
  .main-nav {
    display: block;
    padding-top:25px;
    
  }
  .main-nav__items {
    flex-direction: column;
    padding-left: 70px;
    
    
  }
  .main-nav__item {
    margin-left:15px;
    margin-bottom: 1em;
    letter-spacing: 0.08em;
    
  }
  .main-nav__mobile-icon {
    display: block;
    padding-top: 0.4em;
    padding-left: 15px; 
    font-size: 2rem;
    cursor: pointer;
     color: #18AC0F;
    
  }
  .main-nav__logo {
    margin-bottom: 1em;
   
  }
  .main-nav__inner {
    display: block;
    position: fixed;
    z-index: 9999;
    background:white;
    height: 100%;
    width: 100%;
    padding-top: 1em;
    transition: all 0.4s;
    transform: scaleX(0);
    opacity: 0;
    transform-origin: left;
    margin-top:19px;
    margin-right: 70px;
  }
.nav-container{
  justify-content: center;
      color:black;
  }
.router-link-active {
  color: #18AC0F !important;
  }
  .profile-img {
   top: -5px;
}
}
