
// AVITAL
.input-approve{
  // margin-top: 10px;
  // margin-bottom: 10px;
  padding: 0px;
}
.btnPlus{
  // background-color: #00c853;
  // border: 1px solid #00c853;
  color: #E040FB;
  // border-radius: 50%;
  // width: 3em;
  // height: 2em;
  margin-left: 30px;
  padding: 0px;
  font-size: 3rem;
  font-weight:900;
  // box-shadow: none;
}
.btnPlus:active {
   text-shadow: 3px 2px 7px rgba(150, 150, 150, 1);
}
.btnOk{
  // background-color: #00c853;
  // border: 1px solid #00c853;
  color: #00c853;
  // border-radius: 50%;
  width: 3em;
  height: 2em;
  font-size: 3rem;
  font-weight:900;
  }
.btnOk:active {
   text-shadow: 3px 2px 7px rgba(150, 150, 150, 1);
  
}
  
.mic {
  color: #2C3E50;
  font-size: 15em;
  margin:0.1em;
}
.mic-circle{
   display:flex;
   display: inline-block;
   justify-content: center;
   border: 7px solid #2C3E50;
   border-radius: 50%;
   margin-bottom: 4em;
}

.btnMic{
  color: #2C3E50;
  color: #2C3E50;
  border: 7px solid #2C3E50;
  border-radius: 50%;
    width: 1em;
    height:1.5em;
  font-size: 7rem;
 

}
  .btnMic:active{
    color:red;
    border: 7px solid red;
  }

.mbp {
  position: relative;
  text-align: center;
  align-items:center;
  margin-top: 30px;
// padding-top:30px;
}

.meal-input{
  // margin-top: 1.5em;
  color: #2C3E50;
  width: 15em;
  height:50px;
  border:2px solid  #2C3E30;
  border-radius: 6px;
  font-size:2rem;
  margin-left: 20px;
  padding-left:10px;
  
}

.add-feel-btn{
  background-color: #18BC9C;
  color:white;
  border-radius: 50%;
  width: 5em;
  height:5em;
  font-size: 1.5rem;
  // margin: 20px 0 20px 0;
  /*margin: 100px;*/
}
.add-feel-btn:active{
   box-shadow: inset -12px 12px 19px -2px rgba(249, 249, 249, 0.85);
}
.add-feel-btn:hover{
    color:white;
}


@media (max-width: 400px) {
  .mbp {
   position: relative;
   text-align: center;
   align-items:center;
  
  }
  // .anotherMbp {
  //   display: flex;
  //   flex-direction: column;
  //   justify-content: center;
    
  // }

  .home{
    // max-width: 100%; 
  }
  .stam{
    //  width: 100%; 
  }
  .container{
    width: 98%;  
  }
  .meal-input{
  margin-left: 10px;
  color: #2C3E50;
  width: 14em;
  height:35px;
  border:2px solid  #2C3E30;
  border-radius: 6px;
  font-size:1rem;
  padding-left:10px;
  } 
  .btnPlus{
  color: #E040FB;
  margin-left: 20px; 
    // width: 1em;
    // height: 0.5em;
  }
}
// AVITAL END

