
.background-pic{
  background: url(~assets/background4.jpg) no-repeat center center;
  width: 100%;
  height: 100%;
}
.headers{
  padding-left: 1em;
  padding-right: 1em;
  text-align: center;
  h1{
    font-size: 2rem;
    margin-top: -0.5em;
    margin-bottom: -0.5em;
    color: white;
    text-shadow: 2px 2px 3px #000;
  }
  h2{
    font-size: 1.7rem;
    padding-left: 1.3em;
    padding-right: 1.3em;
    margin-bottom: -0.3em;
    color: white;
    text-shadow: 2px 2px 3px #000;
  }
  h3{
    font-size: 1.5rem;
    color: white;
    text-shadow: 2px 2px 2px #000; 
    //  margin-bottom: -0.2em;   
  }
}


.submit-meal{
  margin-top: 15px;
  
}
.btn-submit{
  border:2px solid  #2C3E30;
  border-radius: 6px;
  font-family: inherit;
  text-transform: uppercase;
  color: inherit;
  background: white;
  font-size: 13px;
  padding: 5px;
}
.add-feel-div{
  margin-top: 20px;
  margin-bottom: 20px;
}
.btnPlus{
  color: white;
  margin-left: 30px;
  padding: 0px;
  font-size: 3rem;
  font-weight:900;
  text-shadow: 2px 2px 2px black;

}
.btnPlus:active {
   text-shadow: 3px 2px 7px rgba(150, 150, 150, 1);
}
  
.mic {
  // color:black;
  // font-size: 0.5rem;
  // margin:0.1em;
  // background-color: #55DDE0;
}

.btnMic{
  background-color: #55DDE0;
  color:black;
  font-size: 2rem;
  border-radius: 50%;
  height: 3em;
  width: 3em;
   img{
     vertical-align: middle;
   }


  // opacity: 0.7;
}
  .btnMic:active{
    color:red;
  }

.mbp {
  position: relative;
  text-align: center;
  align-items:center;
  margin-top: 30px;

}

.meal-input{
  color: #2C3E50;
  width: 15em;
  height:50px;
  border:2px solid  #2C3E30;
  border-radius: 6px;
  font-size:2rem;
  margin-left: 20px;
  padding-left:10px;
  
}

.add-feel-btn{
  background-color: #18BC9C;
  color:white;
  border-radius: 50%;
  width: 5em;
  height:5em;
  font-size: 1.5rem;
}
.add-feel-btn:active{
   box-shadow: inset -12px 12px 19px -2px rgba(249, 249, 249, 0.85);
}
.add-feel-btn:hover{
    color:white;
}

.list-group{
  align-items: center;
  // width: 15em;
}

.list-group-item{
  padding-left: 10px;
  padding-right: 10px;
   width: 20em;
}



@media (max-width: 400px) {
.background-pic{
  background: url(~assets/backgroundMobile.jpg) no-repeat center center;
  width: 100%;
  height: 100%;
  }
.headers{
  padding-left: 1em;
  padding-right: 1em;
  text-align: center;
  h1{
    font-size: 2rem;
    margin-top: -0.5em;
    margin-bottom: -0.5em;
    color: white;
    text-shadow: 2px 2px 3px #000;
  }
  h2{
    font-size: 1.7rem;
    padding-left: 1.3em;
    padding-right: 1.3em;
    margin-bottom: -0.3em;
    color: white;
    text-shadow: 2px 2px 3px #000;
  }
  h3{
    font-size: 1.5rem;
    color: white;
    text-shadow: 2px 2px 2px #000; 
    //  margin-bottom: -0.2em;   
  }
}

  .mbp {
   position: relative;
   text-align: center;
   align-items:center;
  
  }
  .inner-container{
    width: 100%;  
  }
  .meal-input{
  margin-left: 10px;
  color: #2C3E50;
  width: 14em;
  height:35px;
  border:2px solid  #2C3E30;
  border-radius: 6px;
  font-size:1rem;
  padding-left:10px;
  } 
  .btnPlus{
  color: white;
  margin-left: 20px; 

  }

.btnMic{
  opacity: 0.7;
  background-color: #55DDE0;
  color:black;
  border-radius: 50%;
  height: 2em;
  width: 2em;
  margin-top: -0.1em;
   margin-bottom: -1em;

   img{
     vertical-align: middle;
      height: 1em;
      width: 1em;
   }
 
}
  .btnMic:active{
    color:red;
  }
}


