$container-width: 1063px;
$mobile-breakpoint: 360px;

:root {
  /* Layout */
  --container-width: $container-width;
  --inner-container-width: 900px;
  /* Fonts */
  --primary-font: Playfair;
  --secondary-font: Ubuntu;
  /* Colors */
  --main-color: #626262;
  --sections-bg: #f0f0f0;

  --orange: #FF6700;
  --lightblue: #55DDE0;
  --green: #18AC0F;
  --white:#ffffff;
  --black:#000000;
}


