
.main-footer {
  --main-footer-height: em(80px);  
  background-color:  #f8f8f8;;
  height: var(--main-footer-height);
  display: flex;
  align-content: center;
}

.main-footer__item {
  &:not(:last-child) {
    margin-right: em(17px);
  }
  

  color: #000;
  font-size: rem(14px);
  font-weight: bold;
}

.footer-below{
   --below-footer-height: em(40px);  
  background-color: lightseagreen;
  height: var(--below-footer-height);
  display: flex;
  align-content: center;
  margin-top: 40px;
  // position:absolute;
  bottom: 0;
  
}
