
.main-footer {
  --main-footer-height: em(80px);  
  background-color:  #f8f8f8;;
  height: var(--main-footer-height);
  display: flex;
  align-content: center;
}

.main-footer__item {
  &:not(:last-child) {
    margin-right: em(17px);
  }
  

  color: #000;
  font-size: rem(14px);
  font-weight: bold;
}


.input-approve{
  margin-top: 10px;
  margin-bottom: 70px
}
.btnPlus{
  // background-color: #00c853;
  // border: 1px solid #00c853;
  color: #E040FB;
  // border-radius: 50%;
  width: 3em;
  height: 3em;
  font-size: 3rem;
  font-weight:900;
  // box-shadow: none;
}
.btnPlus:active {
   text-shadow: 3px 2px 7px rgba(150, 150, 150, 1);
}
.btnOk{
  // background-color: #00c853;
  // border: 1px solid #00c853;
  color: #00c853;
  // border-radius: 50%;
  width: 3em;
  height: 3em;
  font-size: 3rem;
  font-weight:900;
  }
.btnOk:active {
   text-shadow: 3px 2px 7px rgba(150, 150, 150, 1);
  
}
// }
.mic {
  color: #2C3E50;
  font-size: 15em;
  margin:0.1em;
}
.mic-circle{
   display:flex;
   display: inline-block;
   justify-content: center;
   border: 7px solid #2C3E50;
   border-radius: 50%;
   margin-bottom: 4em;
}

.btnMic{
  color: #2C3E50;
  color: #2C3E50;
  border: 7px solid #2C3E50;
  border-radius: 50%;
    width: 1em;
    height:1.5em;
  font-size: 15rem;

}
  .btnMic:active{
    color:red;
    border: 7px solid red;
  }
// .mic-circle :active{

// }
.meal-input{
  margin-top: 10px;
  color: #2C3E50;
  width: 20em;
  height:50px;
  border:2px solid  #2C3E30;
  border-radius: 6px;
  font-size:2rem;
  padding-left:10px;
}
.add-buttons{
 padding: 0 60px 0 60px;
  
}
.add-meal-btn{
  background-color: #FF9800;
  color:white;
  border-radius: 50%;
  width: 6em;
  height:6em;
  font-size: 2rem;
  margin: 100px;
}
.add-meal-btn:active{
   box-shadow: inset -12px 12px 19px -2px rgba(249, 249, 249, 0.85);
  //  inset -6px 6px 15px -2px rgba(249, 249, 249, 0.75);
  //  3px 2px 7px rgba(150, 150, 150, 1);
}
.add-feel-btn{
  background-color: #18BC9C;
  color:white;
  border-radius: 50%;
  width: 6em;
  height:6em;
  font-size: 2rem;
  margin: 100px;
}
.add-feel-btn:active{
   box-shadow: inset -12px 12px 19px -2px rgba(249, 249, 249, 0.85);
}